.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, white, orange);
    text-align: center;
  }

  .landing-container img{
    width: 35%;
    height: 15%;
  }
  
  .landing-container h1 {
    font-size: 3em;
    color: #333;
  }
  
  .landing-container a {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  